<section>
	<div class="landingpage">
		<h1>
			Welcome to MicroBlog!
		</h1>
		<br>
		<h1>
			MicroBlog is a simple lightweight blogging app.
		</h1>
		<h1>
			Feel free to add yourself in the authors section and post a blog!
		</h1>
	</div>
</section>

