<section>

	<form action="/tags" method="POST" style="text-align: center;">
		
		<label><strong>Tag name</strong><br>
			<input type="text" name="tag[name]"><br>
		</label><br>


		<br>

		<input type="submit" value="Submit">

	</form>

</section>

