<section>

	<form action="/authors" method="POST" style="text-align: center;">
		
		<label><strong>Name</strong><br>
			<input type="text" name="author[name]"><br>
		</label><br>

		<label><strong>Description</strong><br>
			<input type="text" name="author[description]"><br>
		</label><br>

		<label><strong>Image URL</strong><br>
			<input type="text" name="author[image_url]"><br>
		</label><br>


		<br>

		<input type="submit" value="Submit">

	</form>

</section>

